﻿@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Browse/_Layout.cshtml";
}
@model IEnumerable<YouDeliberate.Models.Entity.narrative>

@{
    int next = 0;
     
    
}

<div id="lemmonparty" class="slider">
    <ul>
        
        @for (int i = 0; i < Model.Count(); i++)
        {
            if (i % 4 == 0)
            {
                @:<li style="max-width:100px;">
            }
            //if (Model.ElementAt(i).categoryID != 4)
            //{
            // 4 is none, don't display
            // ^delegate this stuff to whatever method is giving us the list
            int total = Model.ElementAt(i).numberAgrees + Model.ElementAt(i).numberDisagrees + Model.ElementAt(i).numberAmbivalent;
            float a = (total == 0) ? 0 : (Model.ElementAt(i).numberAgrees / (float)total) * 100;
            float d = (total == 0) ? 0 : (Model.ElementAt(i).numberDisagrees / (float)total) * 100;
            float l = (total == 0) ? 0 : (Model.ElementAt(i).numberAmbivalent / (float)total) * 100;
            int c = 0;
            if (Model.ElementAt(i).comments.Count == 0)
            {
                c = Model.ElementAt(i).comments.Count;
            }
            else
            {
                c = Model.ElementAt(i).comments.Count - 1;
            }
            int id = Model.ElementAt(i).narrativeID;
            string img = "";
            if (Model.ElementAt(i).pictures.Count > 0)
            {
                //@(Model.ElementAt(i).pictures.Count)
                // for some reason the list is backwards? just use the last entry as the first
                img = Model.ElementAt(i).pictures.ElementAt(Model.ElementAt(i).pictures.Count - 1).path;
            }

            String langCssClass = "";
            if (Model.ElementAt(i).languageID != null)
            {
                langCssClass = Model.ElementAt(i).language.language1;
                if (langCssClass != ViewBag.PreviousLangType && ViewBag.PreviousLangType != null)
                {
                    langCssClass += " languageFaded";
                }
            }

            String categoryCssClass = "";
            if (Model.ElementAt(i).category.category1 != null)
            {
                categoryCssClass = Model.ElementAt(i).category.category1;

                if (categoryCssClass != ViewBag.PreviousFilterType && ViewBag.PreviousFilterType != null)
                {
                    categoryCssClass += " filterFaded";
                }
            }

                  <a onclick="populatePopup(@(id))" id="grid@(i)" class="fancybox grid columns @langCssClass @categoryCssClass" rel="group" href="#player-pop" style="background: url('/Uploads/Narratives/@(id)/@(img)'), url('/Images/gridoverlay.png') #cccccc; ">
                      <script>
                          //document.getElementById(grid@(i).appendChild(createPie("pie@(id)", "60px", "#000", 3, [@a,@d,@l], ["#82ff82", "#ff8282", "#ffff82"])));
                      </script>
                      <div class="comments" style="display: none; float:right; position: relative; top: 16px; right: 22px; font-weight: bold; pointer-events: none;">@c</div>
                  </a><br>
            
            //}
            if (next == 3)
            {
                @:</li>
                next = -1;
            }
            next++;
        }
    </ul>
</div>
<div class="controls">
    <a id="prev" class="prev-slide" href="#" style="position: absolute; top: 180px; left: -30px; z-index: 9998;"><i class="fa fa-angle-left fa-5x"></i></a>
    <a id="next" class="next-slide" href="#" style="position: absolute; top: 180px; right: -30px; z-index: 9998;"><i class="fa fa-angle-right fa-5x"></i></a>
</div>

<div id="player-pop" style="display: none; height: 600px; width: 320px; overflow:hidden;">
    <div id="popup-close-wrap">
        <div id="popup-close" style="position:absolute; top: 0px;"></div>
    </div>
    @RenderPage("~/Views/Shared/_Player.cshtml")
</div>

<script>
    function filterNarratives(filterType) {

        if (filterType == "Agree") {
            filterAgree();
        }
        else if (filterType == "Ambivalent") {
            filterAmbivalent();
        }
        else if (filterType == "Disagree") {
            filterDisagree();
        }
    }

    function filterAgree() {
        if ($("#AmbivalentBtn").hasClass("buttonDown")) {
            $(".Agree").removeClass("filterFaded");
            $(".Disagree").removeClass("filterFaded");
            $("#AmbivalentBtn").removeClass("buttonDown");
        }
        else if ($("#DisagreeBtn").hasClass("buttonDown")) {
            $(".Ambivalent").removeClass("filterFaded");
            $(".Agree").removeClass("filterFaded");
            $("#DisagreeBtn").removeClass("buttonDown");
        }

        $("#AgreeBtn").toggleClass("buttonDown");
        $(".Ambivalent").toggleClass("filterFaded");
        $(".Disagree").toggleClass("filterFaded");
    }

    function filterAmbivalent() {
        if ($("#AgreeBtn").hasClass("buttonDown")) {
            $(".Ambivalent").removeClass("filterFaded");
            $(".Disagree").removeClass("filterFaded");
            $("#AgreeBtn").removeClass("buttonDown");
        }
        else if ($("#DisagreeBtn").hasClass("buttonDown")) {
            $(".Ambivalent").removeClass("filterFaded");
            $(".Agree").removeClass("filterFaded");
            $("#DisagreeBtn").removeClass("buttonDown");
        }
        $("#AmbivalentBtn").toggleClass("buttonDown");
        $(".Agree").toggleClass("filterFaded");
        $(".Disagree").toggleClass("filterFaded");
    }

    function filterDisagree() {
        if ($("#AgreeBtn").hasClass("buttonDown")) {
            $(".Ambivalent").removeClass("filterFaded");
            $(".Disagree").removeClass("filterFaded");
            $("#AgreeBtn").removeClass("buttonDown");
        }
        else if ($("#AmbivalentBtn").hasClass("buttonDown")) {
            $(".Disagree").removeClass("filterFaded");
            $(".Agree").removeClass("filterFaded");
            $("#AmbivalentBtn").removeClass("buttonDown");
        }
        $("#DisagreeBtn").toggleClass("buttonDown");
        $(".Ambivalent").toggleClass("filterFaded");
        $(".Agree").toggleClass("filterFaded");
    }

    function removeFilters() {

        if ($("#AgreeBtn").hasClass("buttonDown")) {
            $(".Ambivalent").removeClass("filterFaded");
            $(".Disagree").removeClass("filterFaded");
            $("#AgreeBtn").removeClass("buttonDown");
        }
        else if ($("#AmbivalentBtn").hasClass("buttonDown")) {
            $(".Agree").removeClass("filterFaded");
            $(".Disagree").removeClass("filterFaded");
            $("#AmbivalentBtn").removeClass("buttonDown");
        }
        else if ($("#DisagreeBtn").hasClass("buttonDown")) {
            $(".Ambivalent").removeClass("filterFaded");
            $(".Agree").removeClass("filterFaded");
            $("#DisagreeBtn").removeClass("buttonDown");
        }
    }   

    function selectFrench() {
        //removeEnglish filter
        if ($("#englishButton").hasClass("buttonDown")) {
            $("#englishButton").removeClass("buttonDown");
            $(".French").removeClass("languageFaded");
        }
        $(".English").toggleClass("languageFaded");
        $("#frenchButton").toggleClass("buttonDown");
    }

    function selectEnglish() {
        //removeFrench filter
        if ($("#frenchButton").hasClass("buttonDown")) {
            $("#frenchButton").removeClass("buttonDown");
            $(".English").removeClass("languageFaded");
        }
        $(".French").toggleClass("languageFaded");
        $("#englishButton").toggleClass("buttonDown");
    }
    
    $(".sortButton").click(function () {
        var controllerCall = "";
        var currentSort = $(this).attr('id');
        var currentFilter = "";
        var currentLang = "";

        

        //saving state of current filters for when page needs to be refreshed
        if ($("#AgreeBtn").hasClass("buttonDown")) {
            currentFilter = "Agree";
        }
        else if ($("#AmbivalentBtn").hasClass("buttonDown")) {
            currentFilter = "Ambivalent";
        }
        else if ($("#DisagreeBtn").hasClass("buttonDown")) {
            currentFilter = "Disagree";
        }

        if ($("#englishButton").hasClass("buttonDown")) {
            currentLang = "English";
        }
        else if ($("#frenchButton").hasClass("buttonDown")) {
            currentLang = "French";
        }
        
        //removing current sort
        if ($('#' + currentSort).hasClass("buttonDown")) {
            controllerCall = '@Html.Raw(Url.Action("SortViewNarratives", "Browse"))/?' + 'langType=' + currentLang + '&filtType=' + currentFilter;
        }
        else {
            controllerCall = '@Html.Raw(Url.Action("SortViewNarratives", "Browse"))/?' + 'sortType=' + currentSort + '&langType=' + currentLang + '&filtType=' + currentFilter;
        }
        
        $('#' + currentSort).attr("href", controllerCall);

      
    })
</script>